@font-face {
    font-family: "Lemon-Milk-Bold";
    src: url("assets/fuentes/lemon-milk/LEMONMILK-Bold.otf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url("./assets/img/Diving-Aquazone.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: Lemon-Milk-Bold;
}

img {
    max-width: 100%;
    height: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 808px;
}

.logo {
    margin: 2em auto;
    max-width: 300px;
}

.btn-container {
    width: 100%;

    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.ig-btn {
    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    position: relative;
    overflow: hidden;
    padding: 16px 20px;
    color: white;
    border: 2px solid white;
}

.ig-btn i {
    font-size: 1.5em;
    vertical-align: middle;
    margin-right: 0.5em;
}

.img-wrapper {
    position: relative;
    height: fit-content;
    padding: 0 1em;
}
.img-wrapper h1 {
    color: white;
    font-size: 5vmax;
    text-align: center;
    line-height: 1;
}

.img-wrapper img {
    position: absolute;
    margin: 0 auto;
}

.img-wrapper img[alt="buzo"] {
    margin: 0 auto;
    margin-top: -32px;
}

/*********BTN ANIMATION************/
.wave {
    opacity: 1;
    position: absolute;
    bottom: 2%;
    left: 50%;
    background: white;
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-bottom: -301px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    z-index: -1;
    transition-duration: 0.75s;
    transition-property: margin-bottom;
    transition-timing-function: ease-in-out;
}

.ig-btn:hover .wave {
    margin-bottom: -200px;
    animation: rotate 2000ms infinite linear;
}

.ig-btn:hover {
    color: #025092;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}
